#HomeHeader{
    background-color: pink;
    border: 1px dashed blueviolet;
    margin: 25px;
    padding: 25px;
}

#HomeHeader2{
    background-color: pink;
    border: 1px dashed blueviolet;
    margin: 25px;
    padding: 25px;
}